<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_register.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Log In</title>
</head>
<body>
<div class="container">
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="alert">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="menu">
        <div class="menu-items">
            {% if 'user_id' in session %}
                <p>Welcome, {{ session['name'] }}</p>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('my_profile') }}">My Profile</a>
                <a href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
                <a href="{{ url_for('home') }}">Home</a>
            {% endif %}
        </div>
    </div>


    <form class="input-forms" method="POST" onsubmit="return validateLoginForm()">
        <label for="email">E-mail: </label><br>
        <input type="email" id="email" name="email"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>

        <button type="submit">Log In</button>
    </form>

    <p>Don't have a profile? <a href="{{ url_for('register') }}">Sign Up</a></p>
</div>
</body>
</html>
